name: Frontend CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  frontend-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate HTML files
        run: |
          sudo apt install tidy
          tidy -e index.html
